@model List<OnlineShopping.Models.OrderViewModel>

@{
    ViewBag.Title = "My Orders";
}

<h2>MyOrders</h2>

@if (Model.Count >= 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m[0].OrderId)</th>
                <th>@Html.LabelFor(m => m[0].Products[0].ProductName)</th>
                <th>@Html.LabelFor(m => m[0].Products[0].Quantity)</th>
                <th>@Html.LabelFor(m => m[0].Products[0].Cost)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                int productCount = 0;
                <tr>
                    <td>@Html.DisplayFor(oderVm => order.OrderId)</td>
                    @foreach (var product in order.Products)
                    {
                        productCount++;
                        var productCost = Math.Round(product.Cost, 2);
                        if (productCount > 1)
                        {
                            <td></td>
                        }
                        <td>@Html.DisplayFor(oderVm => product.ProductName)</td>
                        <td>@Html.DisplayFor(oderVm => product.Quantity)</td>
                        <td>@Html.DisplayFor(oderVm => productCost)</td>
                        if (productCount < order.Products.Count)
                        {
                        <tr></tr>
                    }
                }
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.LabelFor(orderVm => order.PaymentMode)</td>
                        <td>@Html.DisplayFor(orderVm => order.PaymentMode)</td>
                        <td>@Html.DisplayFor(orderVm => order.OrderTotal)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.LabelFor(orderVm => order.OrderAddress)</td>
                        <td>@Html.DisplayFor(orderVm => order.OrderAddress)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.LabelFor(orderVm => order.OrderStatus)</td>
                        <td class="text-primary">@Html.DisplayFor(orderVm => order.OrderStatus)</td>
                        <td></td>
                    </tr>
                }
        </tbody>
    </table>
}
else
{
    <h2>No Orders</h2>
}